* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Montserrat, sans-serif;
}

.logo {
	font-family: 'Kaushan Script', cursive;
	font-size: 25px;
	color: yellow !important;
	text-transform: none !important;
}

.cover {
	background-image: url(http://blackrockdigital.github.io/startbootstrap-agency/img/header-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	padding-top: 100px;
	color: white;
}

.espacio-titulos {
	   padding-top: 30px;
    padding-bottom: 70px;
}

.minav {
	background-color: transparent;
    border-color: transparent;
    text-transform: uppercase;
}

.mybutton {
	background-color: #fed136;
    border-color: #fed136;
    line-height: 2.42;
}

.services {
	padding-top: 20px;
}

.services div {
	color: #333;;
}

.services p {
	color: #333;;
}

.iconservices {
	font-size: 40px;
}

.myportfolio {
	padding-top: 20px;
	background-color: #f2dede;
}

.porfolio div {
	color: #333;;
}

.portfolio p {
	color: #333;;
}

.caja-blanca {
	background-color: white;
}
